<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- 有了这条权限 就可以在service或者boardcast中弹出dialog -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" >
    </uses-permission>
    <uses-permission android:name="android.permission.SET_WALLPAPER" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.demo.MainActivity"
            android:label="com.example.demo.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.demo.LauncherInforActivity"
            android:label="com.example.demo.LauncherInforActivity" >
        </activity>
        <activity
            android:name="com.example.demo.BoardcastActivity"
            android:label="com.example.demo.BoardcastActivity" >
        </activity>
        <activity
            android:name="com.example.demo.MediaActivity"
            android:label="com.example.demo.MediaActivity" >
        </activity>
        <activity
            android:name="com.example.demo.VolleyActivity"
            android:label="com.example.demo.VolleyActivity" >
        </activity>
        <activity
            android:name="com.example.demo.TransparentActivity"
            android:finishOnCloseSystemDialogs="true"
            android:label="com.example.demo.TransparentActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="ACTION_SHOW_DIALOG_WITH_TRANSPARENT_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="com.example.demo.MyWidgetProvider" >
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="ACTION_SHOW_DIALOG_IN_BOARDCAST" />
                <action android:name="ACTION_SHOW_TOAST_IN_BOARDCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.demo.AlertInBoardcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="ACTION_SHOW_DIALOG_IN_BOARDCAST" />
                <action android:name="ACTION_SHOW_TOAST_IN_BOARDCAST" />
                <action android:name="ACTION_SHOW_DIALOG_WHIT_TRANSPRARANT_ACTIVITY_IN_BOARDCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.demo.SetWallpaperReveiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="ACTION_TO_SET_WALLPAPER" />
                <action android:name="ACTION_RANDOM_SET_WALLPAPER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>